.navbar {
    height: 100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #efefef;
    padding: 30px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    border: 1px solid darksalmon;
    padding: 30px;
}

.todo-item {
    align-items: center;
    text-align: center;
    color: darksalmon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.button__badge {
    background-color: #fa3e3e;
    color: white;

    padding: 1px 3px;
    font-size: 10px;

    position: absolute;
    /* Position the badge within the relatively positioned button */
    top: 1;
    right: 1;
}

body {
    outline: none;
}